*{
    margin: 0;
    padding: 0;
    }
    
    .body{
        height: 100vh;
        display: flex;
        font-family: sans-serif;
        justify-content:space-evenly;
    }
    
    .location-timezone{
        display: flexbox;
        font-size: 30px;
        font-style: oblique;
        flex-direction:column-reverse;
        background: saddlebrown;
    }
    
    .temperature-value {
        align-items: center;
        padding: 20px;
        display: flex;
        margin: 30px;
        width: 30%;
        font-size: 50px;
        background: salmon;
        cursor: pointer;
    }
    
    .temperature-description{
        font-size: 30px;
        font-style: oblique;
        background: springgreen;
        padding: 20px;
        display: flex;
        width: 60%;
    }
    
     .location-timezone{
        padding: 20px;
        display: flex;
        height: 45vh;
        width: 60%;
        background: slateblue;
    } 
    
    .date{
        font-size: 20px;
        font-style: oblique;
        background: springgreen;
        padding: 20px;
        display: flex;
        width: 60%;
    }
